<div class="phone-mockup">
  <div class="container">


    <form>
      <div class="input-group">
        <input type="text" class="form-control " placeholder="Kasi">
          <span class="input-group-btn">
              <button class="btn btn-primary" type="button"><span><i class="fa fa-search"></i></span></button>
          </span>
      </div>
    </form>

    <div class="cstyle2">
      <div class="pic col-xs-4">
        <img src="<%= image_path('hipp-coko.jpg')%>">
      </div>
      <div class="pad col-xs-8">
        <div class="line col-xs-12">  
          <div class="title col-xs-10">Mliječna <span class="match">kaši</span>ca čokolada i griz</div>
          <div class="top-right check col-xs-2"><i class="fa fa-check"></i></div>
        </div>
        <div class="manufacturer">HiPP</div>
      </div>
    </div>

    <div class="cstyle2">
      <div class="pic col-xs-4">
        <img src="<%= image_path('juvitana2.jpg')%>">
      </div>
      <div class="pad col-xs-8">
        <div class="line col-xs-12">  
          <div class="title col-xs-10"><span class="match">Kaši</span>ca mešano povrće 128g </div>
          <div class="top-right check col-xs-2"><i class="fa fa-check"></i></div>
        </div>
        <div class="manufacturer">Swisslion - Takovo </div>
      </div>
    </div>

    <div class="cstyle2 exp">
      <div class="pic col-xs-4">
        <img class="image" src="<%= image_path('tetrapak.jpg')%>">
      </div>
      <div class="pad col-xs-8">
        <div class="line col-xs-12">  
          <div class="title col-xs-10">Mlečna <span class="match">kaši</span>ca griz-burbon vanila</div>
          <a class="btn active top-right question col-xs-2"><i class="fa fa-question"></i></a>
         </div>
        <div class="manufacturer"></div>
      </div>
      <div class="explanation col-xs-12">Proizvod se trenutno ispituje radi utvrđivanja njegove skladnosti s propisanim tehničkim zahtjevima.</div>
    </div>

    <div class="cstyle2">
      <div class="pic col-xs-4">
        <img src="<%= image_path('hipp-zitarice.jpg')%>">
      </div>
      <div class="pad col-xs-8">
        <div class="line col-xs-12">  
          <div class="title col-xs-10">Bio žitna <span class="match">kaši</span>ca 7 žitarica</div>
          <div class="top-right check col-xs-2"><i class="fa fa-check"></i></div>
        </div>
        <div class="manufacturer">HiPP</div>
      </div>
    </div>

    <div class="cstyle2">
      <div class="pic col-xs-4">
        <img src="<%= image_path('hipp-banana.jpg')%>">
      </div>
      <div class="pad col-xs-8">
        <div class="line col-xs-12">  
          <div class="title col-xs-10">Mliječna <span class="match">kaši</span>ca banana i riža</div>
          <div class="top-right check col-xs-2"><i class="fa fa-check"></i></div>
        </div>
        <div class="manufacturer">HiPP</div>
      </div>
    </div>

    <div class="cstyle2 exp exp1">
      <div class="pic col-xs-4">
        <img class="image" src="<%= image_path('tetrapak.jpg')%>">
      </div>
      <div class="pad col-xs-8">
        <div class="line col-xs-12">  
          <div class="title col-xs-10"><span class="match">Kaši</span>ca od jabuke, brusnice i borovnice 128g </div>
          <div class="btn active top-right exclamation col-xs-2"><i class="fa fa-exclamation"></i></div>
        </div>
        <div class="manufacturer"></div>
      </div>
      <div class="explanation col-xs-12">Utvrdjeno je da proizvod nije u skladu sa propisanim tehničkim zahtjevima.</div>
    </div>

    <div class="cstyle2">
      <div class="pic col-xs-4">
        <img src="<%= image_path('juvitana7.jpg')%>">
      </div>
      <div class="pad col-xs-8">
        <div class="line col-xs-12">  
          <div class="title col-xs-10"><span class="match">Kaši</span>ca od jabuke, brusnice i borovnice 128g </div>
          <div class="top-right check col-xs-2"><i class="fa fa-check"></i></div>
        </div>
        <div class="manufacturer">Swisslion - Takovo </div>
      </div>
    </div>

    <div class="cstyle2">
      <div class="pic col-xs-4">
        <img src="<%= image_path('hipp-kruska.jpg')%>">
      </div>
      <div class="pad col-xs-8">
        <div class="line col-xs-12">  
          <div class="title col-xs-10">Mliječna <span class="match">kaši</span>ca jabuka i kruška</div>
          <div class="top-right check col-xs-2"><i class="fa fa-check"></i></div>
        </div>
        <div class="manufacturer">HiPP</div>
      </div>
    </div>

    <div class="cstyle2">
      <div class="pic col-xs-4">
        <img src="<%= image_path('hipp-keks.jpg')%>">
      </div>
      <div class="pad col-xs-8">
        <div class="line col-xs-12">  
          <div class="title col-xs-10">Mliječna <span class="match">kaši</span>ca dječji keks</div>
          <div class="top-right check col-xs-2"><i class="fa fa-check"></i></div>
        </div>
        <div class="manufacturer">HiPP</div>
      </div>
    </div>

    <div class="cstyle2">
      <div class="pic col-xs-4">
        <img src="<%= image_path('juvitana10.jpg')%>">
      </div>
      <div class="pad col-xs-8">
        <div class="line col-xs-12">  
          <div class="title col-xs-10"><span class="match">Kaši</span>ca od jabuke, brusnice i borovnice 128g </div>
          <div class="top-right check col-xs-2"><i class="fa fa-check"></i></div>
        </div>
        <div class="manufacturer">Swisslion - Takovo </div>
      </div>
    </div>
  </div>
</div>