<div class="tablet-mockup" id="fullpage">
  
  <div class="section home">
    <div class="home-container">  
      <div class="container container-top">  
        <nav class="navbar navbar-default" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              <%= image_tag('logo_white.png', class: "nav-logo")%>
            </a>
          </div>
        
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">TIM</a></li>
              <li><a href="#">PARTNERI</a></li>
              <li><a href="#">BLOG</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </nav>

        <div class="home-body">
          <div class="col-sm-6 text">
            <h1>Birajmo bolje zajedno</h1>
            <p class="app-info">Da li imate problema da izaberete najbolji proizvod za Vas ili Vaše najbliže? <br /><br />
              Mi imamo. Zato stvaramo <strong>Ideus</strong>, online mjesto koje spaja ljude željne da nauče više o proizvodima kao i da to znanje podijele sa drugima.</p>
            <form class="form-inline">
              <input class="form-control col-sm-8" type="email" placeholder="Vaša e-mail adresa" />
              <button class="btn col-sm-4" type="submit">Prijavi se</button>
            </form>
            <p class="input-info">Ukoliko želiš da nam pomognes prijavi se i postani deo Ideus zajednice</p class="input-info">
          </div>

          <div class="col-sm-6 right">
            <%= image_tag('img-home.png', class: "graphic")%>
          </div>
          <div class="icon col-sm-12">  
            <a href=""><i class="fa fa-chevron-down"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section padding">
    <div class="container">
      <div class="col-sm-5 back-left">
        <%= image_tag('car2.png')%>
      </div>
      <div class="col-sm-7 describe">
        <h1>Alergeni</h1>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
  
  <div class="section padding">
    <div class="container">  
      <div class="col-sm-7 describe">
	      <h1>Pretražite</h1>
	    </div>
      <div class="col-sm-5 back2-right">
        <%= image_tag('car4.png', id: "screen-details-1")%>
      </div>
    </div>
  </div>

  <div class="section padding">
    <div class="container">  
      <div class="col-sm-5 back-left">
        <%= image_tag('car3.png')%>
      </div>
      <div class="col-sm-7 describe">
	      <h1>Skenirajte</h1>
	    </div>
    </div>
  </div>
  
  <div class="section padding">
    <div class="container">
      <div class="col-sm-7 describe">
        <h1>Detalji o proizvodu</h1>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-sm-5 back2-right">
        <%= image_tag('car5.png', id: "screen-details-2")%>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container container-footer">  
  		<div class="col-sm-4 describe">	
  			<h1>Pocetak</h1>
  		</div>
      <div class="col-sm-8">
      	<%= image_tag('issues.png', class: "begin-photo")%>
      </div>
    </div>
    <div class="footer">  
      <div class="footer-down">
        <div class="footer-title">
          <%= image_tag('navbar_white_1.png', class: "footer-logo")%>
          IDEUS          
        </div>
        <div class="list spec">  
          <div class="address">81000 Podgorica, Njegoševa 11</div>
          <div class="mail">contact@ideus.me</div>
        </div>
      </div>
      <div class="icons col-sm-2 col-sm-offset-5">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="copy col-sm-12">
        <span>Copyright &copy 2014 IDEUS LTD.</span>
      </div>
    </div>
  </div>
  
</div>