<div class="new">
  <div class="newcont">

    <form>
      <div class="input-group">
        <input type="text" class="form-control " placeholder="Kašica">
          <span class="input-group-btn">
              <button class="btn btn-primary" type="button"><span><i class="fa fa-search"></i></span></button>
          </span>
      </div>
    </form>

    <div class="cstyle">
      <div class="pic">
        <img src="<%= image_path('juvitana1.jpg')%>">
      </div>
      <div class="pad">
        <div class="title">Kašica jabuka i muskatna tikva 128g bez dodatka šećera</div>
        <div class="manufacturer">Swisslion - Takovo <span class="right"><i class="fa fa-question-circle"></i></span></div>
      </div>
    </div>

    <div class="cstyle">
      <div class="pic">
        <img src="<%= image_path('juvitana2.jpg')%>">
      </div>
      <div class="pad">
        <div class="title">Kašica mešano povrće 128g</div>
        <div class="manufacturer">Swisslion - Takovo <span class="right"><i class="fa fa-check-circle"></i></span></div>
      </div>
    </div>

    <div class="cstyle">
      <div class="pic">
        <img src="<%= image_path('juvitana3.jpg')%>">
      </div>
      <div class="pad">
        <div class="title">Kašica od kajsije i kruške 128g</div>
        <div class="manufacturer">Swisslion - Takovo <span class="right"><i class="fa fa-warning"></i></span></div>
      </div>
    </div>

    <div class="cstyle">
      <div class="pic">
        <img src="<%= image_path('juvitana4.jpg')%>">
      </div>
      <div class="pad">
        <div class="title">Kašica od jabuke, brusnice i borovnice 128g</div>
        <div class="manufacturer">Swisslion - Takovo <span class="right"><i class="fa fa-check-circle"></i></span></div>
      </div>
    </div>

    <div class="cstyle">
      <div class="pic">
        <img src="<%= image_path('juvitana5.jpg')%>">
      </div>
      <div class="pad">
        <div class="title">Kašica od jabuke, brusnice i borovnice 128g</div>
        <div class="manufacturer">Swisslion - Takovo <span class="right"><i class="fa fa-question-circle"></i></span></div>
      </div>
    </div>

    <div class="cstyle">
      <div class="pic">
        <img src="<%= image_path('juvitana6.jpg')%>">
      </div>
      <div class="pad">
        <div class="title">Kašica od jabuke, brusnice i borovnice 128g</div>
        <div class="manufacturer">Swisslion - Takovo <span class="right"><i class="fa fa-check-circle"></i></span></div>
      </div>
    </div>

    <div class="cstyle">
      <div class="pic">
        <img src="<%= image_path('juvitana7.jpg')%>">
      </div>
      <div class="pad">
        <div class="title">Kašica od jabuke, brusnice i borovnice 128g</div>
        <div class="manufacturer">Swisslion - Takovo <span class="right"><i class="fa fa-warning"></i></span></div>
      </div>
    </div>

    <div class="cstyle">
      <div class="pic">
        <img src="<%= image_path('juvitana8.jpg')%>">
      </div>
      <div class="pad">
        <div class="title">Kašica od jabuke, brusnice i borovnice 128g</div>
        <div class="manufacturer">Swisslion - Takovo <span class="right"><i class="fa fa-check-circle"></i></span></div>
      </div>
    </div>

    <div class="cstyle">
      <div class="pic">
        <img src="<%= image_path('juvitana9.jpg')%>">
      </div>
      <div class="pad">
        <div class="title">Kašica od jabuke, brusnice i borovnice 128g</div>
        <div class="manufacturer">Swisslion - Takovo <span class="right"><i class="fa fa-question-circle"></i></span></div>
      </div>
    </div>

    <div class="cstyle">
      <div class="pic">
        <img src="<%= image_path('juvitana10.jpg')%>">
      </div>
      <div class="pad">
        <div class="title">Kašica od jabuke, brusnice i borovnice 128g</div>
        <div class="manufacturer">Swisslion - Takovo <span class="right"><i class="fa fa-check-circle"></i></span></div>
      </div>
    </div>
  </div>
</div>