<div class="cue" id="fullpage" data-spy="scroll" data-target="right_nav">
	<header>
		<a href="/"><img class="logo" src="<%= image_path('logo.png')%>"></a>
		<ul>
			<li class="blue"> <a href=""> <img src="<%= image_path('nav1.png')%>"></a> <p class="name">Testosterone</p></li>
			<li class="purple"> <a href=""> <img src="<%= image_path('nav2.png')%>"></a> <p class="name">Fertility</p></li>
			<li class="red"> <a href=""> <img src="<%= image_path('nav3.png')%>"></a> <p class="name">Inflammation</p></li>
			<li class="yellow"> <a href=""> <img src="<%= image_path('nav4.png')%>"></a> <p class="name">VitaminD</p></li>
			<li class="green"> <a href=""> <img src="<%= image_path('nav5.png')%>"></a> <p class="name">Influenza</p></li>
		</ul>
		<button>Pre-Order now</button>
	</header>
	<div class="right_nav">
		<ul>	
			<li><a class="load_first color"  href=""><span></span></a></li>
			<li><a class="load_sec" href=""><span></span></a></li>
			<li><a class="load_third" href=""><span></span></a></li>
			<li><a class="load_fourth" href=""><span></span></a></li>
			<li><a class="load_six" href=""><span></span></a></li>
		</ul>
	</div>
	<div class="first section active" id="first_sec">
		<img src="<%= image_path('first.jpg')%>">
	</div>
	<div class="second section" id="second_sec">
		<div class="left">
			<img src="<%= image_path('first.jpg')%>">
		</div>
		<div class="right">
			<p class="title">Discover Yourself</p>
			<p>Cue is a deep health tracker that lets you go beyond tracking steps and your weight.</p>
			<p id="first">Easily access deeper information from your body.</p>
			<p id="second">Load a cartridge,</p>
			<p id="third">add a sample,</p>
			<p id="fourth">and get results on your phone.</p>
			<div id="fifth">
				<span><img src="<%= image_path('points.png')%>"></span>
				<span><img src="<%= image_path('points.png')%>"></span>
				<span><img src="<%= image_path('points.png')%>"></span>
				<span><img src="<%= image_path('points.png')%>"></span>
				<span><img src="<%= image_path('points.png')%>"></span>
				<span><img src="<%= image_path('points.png')%>"></span>
				<span><img src="<%= image_path('points.png')%>"></span>
				<span><img src="<%= image_path('points.png')%>"></span>
				<span><img src="<%= image_path('points.png')%>"></span>
				<span><img src="<%= image_path('points.png')%>"></span>
			</div>
			<div id="sixth"><img src="<%= image_path('points.png')%>"></div>
			<div id="seventh"><img src="<%= image_path('points.png')%>"></div>
			<div id="eighth"><img src="<%= image_path('bluetooth.png')%>"></div>
		</div>
	</div>
	<div class="third section" id="third_sec">
		<div class="myleft">
			<p class="title">Information is Power</p>
			<p>See how your body is responding to your lifestyle at the molecular level</p>
			<p>and take action based on your body and your schedule</p>
			<p>so that you can create the best story for yourself</p>
		</div>
		<div class="right" id="animup">
			<div class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="item active">
						<img src="<%= image_path('carousel1.png')%>">
					</div>
					<div class="item">
						<img src="<%= image_path('carousel2.png')%>">
					</div>
					<div class="item">
						<img src="<%= image_path('carousel3.png')%>">
					</div>
				</div>
			</div>
			<!-- <img src="<%= image_path('mob.png')%>"> -->
		</div>
	</div>
	<div class="fourth section" id="fourth_sec">
		<img src="<%= image_path('fourth.jpg')%>">
		<div class="right">	
			<div id="anim">
				<p class="title">Empowering</p>
				<p>Be your most motivated, happy, healthy self.</p>
			</div>
		</div>
	</div>
	<div class="six section" id="six_sec">
		<div class="f1">
			<span> <img src="<%= image_path('img1.png')%>"></span>
			<span> <img src="<%= image_path('img2.png')%>"></span>
			<span> <img src="<%= image_path('img3.png')%>"></span>
			<span> <img src="<%= image_path('img4.png')%>"></span>
			<span> <img src="<%= image_path('img5.png')%>"></span>
			<span> <img src="<%= image_path('img6.png')%>"></span>
		</div>
		<div class="padding">	
			<div class="f2">
				<span><a href="/"></a>Home</span>
				<span><a href="/"></a>Product</span>
				<span><a href="/"></a>About</span>
				<span><a href="/"></a>FAQ</span>
				<span><a href="/"></a>Press</span>
				<span><a href="/"></a>Contact</span>
				<span><a href="/"></a>Legal</span>
			</div>
			<div class="f3">
				<p>Subscribe to our mail list</p>
				<div class="form-group">
					<div class="col-md-6 col-md-offset-3">
						<div class="input-group">
							<input type="text" class="form-control mysize" placeholder="Your email">
							<span class="input-group-btn">
						    	<button class="btn btn-default b-style" type="button">Sign up</button>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="f4">
				<a href="/">Download Media Kit</a>
			</div>
			<div class="f5">
				<span><a href="/"><img src="<%= image_path('logo1.png')%>"></a></span>
				<span><a href="/"><img src="<%= image_path('logo2.png')%>"></a></span>
				<span><a href="/"><img src="<%= image_path('logo3.png')%>"></a></span>
				<span><a href="/"><img src="<%= image_path('logo4.png')%>"></a></span>
				<span><a href="/"><img src="<%= image_path('logo5.png')%>"></a></span>
				<span><a href="/"><img src="<%= image_path('logo6.png')%>"></a></span>
			</div>
			<div class="f6">
				<p> &copy; Cue 2014. In assotiation with Immortalana Inc.</p>
			</div>
		</div>
	</div>
</div>