<div class="cue">
	<header>
		<a href="/"><img src="<%= image_path('logo.png')%>"></a>
		<ul>
			<li class="blue"> <a href="/"> <div class="logo"></div> <p class="name">Testosterone</p></a></li>
			<li class="purple"> <a href="/"> <div class="logo"></div> <p class="name">Fertility</p></a></li>
			<li class="red"> <a href="/"> <div class="logo"></div> <p class="name">Inflammation</p></a></li>
			<li class="yellow"> <a href="/"> <div class="logo"></div> <p class="name">VitaminD</p></a></li>
			<li class="green"> <a href="/"> <div class="logo"></div> <p class="name">Influenza</p></a></li>
		</ul>
		<button>Pre-Order now</button>
	</header>
	<div class="first">
		<img src="<%= image_path('first.jpg')%>">
	</div>
	<div class="second">
		<div class="left">
			<img src="<%= image_path('first.jpg')%>">
		</div>
		<div class="right">
			<p class="title">Discover Yourself</p>
			<p>Cue is a deep health tracker that lets you go beyond tracking steps and your weight.</p>
			<p>Easily access deeper information from your body.</p>
			<p>Load a cartridge,</p>
			<p>add a sample,</p>
			<p>and get results on your phone.</p>
		</div>
	</div>
	<div class="third">
		<div class="left">
			<p class="title">Information is Power</p>
			<p>See how your body is responding to your lifestyle at the molecular level</p>
			<p>and take action based on your body and your schedule</p>
			<p>so that you can create the best story for yourself</p>
		</div>
		<div class="right">
			<img src="<%= image_path('mob.png')%>">
		</div>
	</div>
	<div class="fourth">
		<img src="<%= image_path('fourth.jpg')%>">
		<div class="right">	
			<p class="title">Empowering</p>
			<p>Be your most motivated, happy, healthy self.</p>
		</div>
	</div>
	<div class="six">
		<div class="f1">
			<span> <img src="<%= image_path('img1.png')%>"></span>
			<span> <img src="<%= image_path('img2.png')%>"></span>
			<span> <img src="<%= image_path('img3.png')%>"></span>
			<span> <img src="<%= image_path('img4.png')%>"></span>
			<span> <img src="<%= image_path('img5.png')%>"></span>
			<span> <img src="<%= image_path('img6.png')%>"></span>
		</div>
		<div class="f2">
			<span><a href="/"></a>Home</span>
			<span><a href="/"></a>Product</span>
			<span><a href="/"></a>About</span>
			<span><a href="/"></a>FAQ</span>
			<span><a href="/"></a>Press</span>
			<span><a href="/"></a>Contact</span>
			<span><a href="/"></a>Legal</span>
		</div>
		<div class="f3">
			<p>Subscribe to our mail list</p>
			<div class="form-group">
				<div class="col-md-6 col-md-offset-3">
					<div class="input-group">
						<input type="text" class="form-control mysize" placeholder="Your email">
						<span class="input-group-btn">
					    	<button class="btn btn-default b-style" type="button">Sign up</button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="f4">
			<a href="/">Download Media Kit</a>
		</div>
		<div class="f5">
			<span><a href="/"><img src="<%= image_path('logo1.png')%>"></a></span>
			<span><a href="/"><img src="<%= image_path('logo2.png')%>"></a></span>
			<span><a href="/"><img src="<%= image_path('logo3.png')%>"></a></span>
			<span><a href="/"><img src="<%= image_path('logo4.png')%>"></a></span>
			<span><a href="/"><img src="<%= image_path('logo5.png')%>"></a></span>
			<span><a href="/"><img src="<%= image_path('logo6.png')%>"></a></span>
		</div>
		<div class="f6">
			<p> &copy; Cue 2014. In assotiation with Immortalana Inc.</p>
		</div>
	</div>
</div>