<div class="mob-mockup" id="fullpage">
  
  <div class="first section">
    <div class="col-lg-7 col-md-7">
      <h1>Login</h1>
      <h4>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
    </div>
    <div class="col-lg-5 col-md-5 back-right">
      <%= image_tag('car1.png')%>
    </div>
  </div>
  
  <div class="second section">
    <div class="col-lg-5 col-md-5 back-left">
      <%= image_tag('car2.png')%>
    </div>
    <div class="col-lg-7 col-md-7">
      <h1>Alergeni</h1>
      <h4>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
    </div>
  </div>
  
  <div class=" third section">
    <div class="col-lg-6 col-md-6 back-left">
      <%= image_tag('car3.png')%>
    </div>
    <div class="col-lg-6 col-md-6 back-right">
      <%= image_tag('car4.png')%>
    </div>
  </div>
  
  <div class=" fourth section">
    <div class="col-lg-7 col-md-7">
      <h1>Detalji o proizvodu</h1>
      <h4>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
    </div>
    <div class="col-lg-5 col-md-5 back-right">
      <%= image_tag('car5.png')%>
    </div>
  </div>

</div>