<div class="mob-mockup" id="fullpage">
  
  <div class="section home">
    <div class="blue">  
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <%= image_tag('navbar_white_1.png', class: "logo")%>
          <span class="headline">ideus</span>
        </div>
        <div class="col-lg-6 col-md-6">
          <ul class="list-inline">
            <li>
              <a href="">TIM</a>
              <a href="">BLOG</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row2">
        <div class="col-lg-6 col-md-6 text">
          <h1>Birajmo bolje zajedno</h1>
          <p>Da li imate problema da izaberete najbolji proizvod za vas ili vaše najbliže</p>
          <p>Mi imamo. Zato stvaramo <strong>Ideus</strong>, online mjesto koje spaja ljude željne da nauče više o proizvodima kao i da to znanje podijele sa drugima</p>
        </div>
        <div class="col-lg-6 col-md-6 right">
          <div class="input-group">
            <input id="mce-EMAIL" value="" name="EMAIL" class="email form-control input-lg" placeholder="Vaša e-mail adresa" type="email">
            <span class="input-group-btn">
              <input value="Prijavi se" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default btn-lg btn-success" type="submit">
            </span>
          </div>
          <h5>Ukoliko želiš da nam pomognes prijavi se i postani deo Ideus zajednice</h5>
          <div class="msg">
            <p>Ukoliko našu ideju smatrate zanimljivom, iskoristite šansu i dajte svoj glas za <strong>Ideus</strong> na sajtu</p>
            <div class="oi"><a href="http://otvoreneideje.me/OI2014/"><%= image_tag('logooi.png')%></a></div>
          </div>
        </div>
        <a class="scroll" href=""><i class="fa fa-chevron-down"></i></a>
      </div>
    </div>
  </div>

  <div class="section padding">
    <div class="col-lg-7 col-md-7 describe">
      <h1>Login</h1>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
    <div class="col-lg-5 col-md-5 back-right">
      <%= image_tag('car1.png')%>
    </div>
  </div>
  
  <div class="section padding">
      <!-- <div><%= image_tag('points.png')%></div>
      <div><%= image_tag('points.png')%></div>
      <div><%= image_tag('points.png')%></div>
      <div><%= image_tag('points.png')%></div>
      <div><%= image_tag('points.png')%></div>
      <div><%= image_tag('points.png')%></div>
      <div><%= image_tag('points.png')%></div>
      <div><%= image_tag('points.png')%></div>
      <div><%= image_tag('points.png')%></div>
      <div><%= image_tag('points.png')%></div> -->

    <div class="col-lg-5 col-md-5 back-left">
      <%= image_tag('car2.png')%>
    </div>
    <div class="col-lg-7 col-md-7 describe">
      <h1>Alergeni</h1>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
  </div>
  
  <div class="section padding">
    <div class="col-lg-4 col-md-4 back-left">
      <%= image_tag('car3.png')%>
    </div>
    <div class="col-lg-4 col-md-4 describe">
      <h1>Skenirajte, pretrazite</h1>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="col-lg-4 col-md-4 back-right">
      <%= image_tag('car4.png', id: "screen-details-1")%>
    </div>
  </div>
  
  <div class="section padding">
    <div class="col-lg-7 col-md-7 describe">
      <h1>Detalji o proizvodu</h1>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
    <div class="col-lg-5 col-md-5 back-right">
      <%= image_tag('car5.png', id: "screen-details-2")%>
    </div>
  </div>

  <div class="section">
    <div class="call-to-action col-lg-12">
      <div class="image col-lg-3 col-md-3">
        <%= image_tag('logooi.png')%>
      </div>
      <div class="oi col-lg-9 col-md-9">
        <p>Glasajte za nas na:</p>
        <p><a href="http://otvoreneideje.me/OI2014/glasanje/">http://otvoreneideje.me/OI2014/glasanje/</a></p>
      </div>
    </div>

    <div class="footer col-lg-12">  
      <div class="footer-down">
        <div class="footer-title"><i class="fa fa-cloud-upload fa fa-large"></i></div>
        <div class="list spec">  
          <div class="address">Njegoseva br. 11</div>
          <div class="mail">ideus@gmail.com</div>
          <div class="phone">020-123-456</div>
        </div>
      </div>
      <div class="icons col-lg-2 col-lg-offset-5">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-linkedin"></i>
      </div>
      <div class="copy col-lg-12">
        <span> &copy Lorem ipsum dolor sit amet</span>
      </div>
    </div>
  </div>
</div>